---
layout: index
title: Hello aShare
tagline: 
---
{% include JB/setup %}







{% for post in site.posts limit:10 %}
<section class="section">
<article>
<div class="page-header">
<h1><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.cTitle }}</a></h1>
</div>
<div class="post-info">
	<i class="icon-calendar"></i><span class="time">{{ post.time | date: '%Y' }}</span>
</div>
{% if post.thumbnail %}
	<img src="/images/{{ post.thumbnail }}" />
{% else %}
	<!--if there is no img-->
{% endif %}

{% if post.content contains "<!-- more -->" %}
 	{{ post.content | split:"<!-- more -->" | first % }}
{% else %}
 	{{ post.content | strip_html | truncatewords:100 }}
{% endif %}

<div class="read-more">
<a class="btn " href="{{ BASE_PATH }}{{ post.url }}">Read more...</a>
</div>
</article>
</section>
{% endfor %}