<div class="content">
<section class="section">
  <article>
    <div class="page-header">
      <h1>{{ page.title }} {% if page.tagline %}<small>{{page.tagline}}</small>{% endif %}</h1>
    </div>
    <div class="date">
      <span>{{ page.date | date_to_long_string }}</span>
    </div>

    <div>
      {{ content }}
    </div>
    <hr>
    {% include JB/comments %}
  </article>      
</section>
</div>
<aside class="aside">
    <h4>Content navigation</h4>
    {% unless page.categories == empty %}
    <ul class="tag_box inline">
      <li><i class="icon-folder-open"></i></li>
      {% assign categories_list = page.categories %}
      {% include JB/categories_list %}
    </ul>
    {% endunless %}  
  
    {% unless page.tags == empty %}
      <ul class="tag_box inline">
        <li><i class="icon-tags"></i></li>
        {% assign tags_list = page.tags %}
        {% include JB/tags_list %}
      </ul>
    {% endunless %}  
  </aside>

<div class="pages">
      {% if page.previous %}
        <span class="pre"><i class="icon-pre svg"></i><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">{{ page.previous.title }}</a></span>
      {% else %}
        <!--if not-->
      {% endif %}
        <span><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></span>
      {% if page.next %}
        <span class="next"><i class="icon-next svg"></i><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">{{ page.next.title }}</a></span>
      {% else %}
        <!--if not-->
      {% endif %}
  </div>
